.form-pin-code .invalid-msg{
	border-radius: var(--bs-border-radius-lg) !important;
	--bs-bg-opacity: 1;
	background-color: rgba(var(--bs-white-rgb), var(--bs-bg-opacity)) !important;
	padding-right: 1rem !important;
	padding-left: 1rem !important;
	padding: 0.5rem !important;
	--bs-border-opacity: 1;
	border-color: rgba(var(--bs-danger-rgb), var(--bs-border-opacity)) !important;
	border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
	margin-top: 28px;
}
.js-submit{
	cursor:pointer;
}
.disabled-submit {
	display: none;
}